.timeline {
  font-weight: 300;
}

.timeline p.headline {
  margin-top: 0;
}

.timeline-header {
  text-align: left;
  margin: 0;
}

.timeline-entry {
  margin-bottom: 10px;
}

.timeline-entry:last-of-type {
  margin-bottom: 0px;
}

.timeline-entry-chip {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.timeline-entries {
  display: inline-block;
  margin-top: 20px;
}

.timeline__date-range {
  text-align: left;
}

.timeline__achievements {
  text-align: left;
  margin-top: 10px;
}

.timeline__achievement {
}

.timeline__positions {
  text-align: left;
  margin-top: 10px;
}

.timeline__position {
}

.timeline ul {
  text-align: left;
}

.timeline__education {
  text-align: left;
  margin-top: 20px;
}

.timeline__education:first-child {
  margin-top: 0;
}

.timeline__education--main-line {
  padding-bottom: 5px;
  font-weight: 400;
}

.timeline__education--sub-line {
  margin-left: 8px;
}

.timeline__education--awards {
  padding-top: 5px;
}
.timeline__education--date {
  float:right;
}

a.fullresume {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 40px;
  display: block;
  font-size: 14px;
}

.larger-than-life {
  font-size: 50px;
}
